@model SibSalamat.Views.Account.PaymentViewModel

@{
    ViewData["Title"] = "Payment";
}

<h2 class="text-center mt-4">Your Sales History</h2>

<div class="container mt-4">
    <table class="table table-bordered table-responsive green-table">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Provider</th>
            <th>isValid</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sell in Model.SalesHistory)
        {
            <tr>
                <td>@sell.ProductName</td>
                <td>@sell.Price</td>
                <td>@sell.Count</td>
                <td>@sell.PharmacyName</td>
                <td>@sell.IsValid</td>
                <td>@sell.DateTime</td>
            </tr>
        }
        </tbody>
    </table>
</div>