@model SibSalamat.Views.Account.PaymentViewModel

@{
    ViewData["Title"] = "Payment";
}

<h2 class="text-center mt-4">Your Sales History</h2>

<div class="container mt-4">
    <table class="table table-bordered table-responsive green-table">
        <thead>
        <tr>
            <th>نام دارو</th>
            <th>داروخانه</th>
            <th>تعداد</th>
            <th>قیمت هر واحد</th>
            <th>تاییدشده</th>
            <th>تاریخ</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var sell in Model.SalesHistory)
        {
            <tr>
                <td>@sell.ProductName</td>
                <td>@sell.PharmacyName</td>
                <td>@sell.Count</td>
                <td>@sell.Price</td>
                <td>@sell.IsValid</td>
                <td>@sell.DateTime</td>
            </tr>
        }
        </tbody>
    </table>
    <div class="text-center mt-4">
        <p class="total-fee"> $@Model.SalesHistory.Sum(s => s.Price * s.Count) مجموع صورت حساب :</p>
    </div>
</div>